* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: #121212;
}
.menu-web {
    display: none;
}
header{
    background-image: url('../img/backgroundImage.png');
    background-position: 79%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;

    box-shadow: 2px 2px 4px #e0e0e0;

}
h1{
    color: #e0e0e0;
    font-size: 1.1rem;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
#icon-menu{
    max-width: 25vw;
    height: 25px;
    margin: 10px;

}

.menu-open{
    background-color: aqua;
}

.menu-content {
    display: none; 
    position: absolute;
    top: auto;
    left: 50%;
    background-color: #000000ec;
    min-width: 50vw; 
    height: 100vh;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 50);
    padding: 30px;
    z-index: 1;
}


.menu-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-content ul li {
    margin: 5px 0;
}

.menu-content ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    
}

.menu-content ul li{
    
    padding: 5px;
    margin-bottom: 10%;

    
}
.block-text-nome-cargo .txt-nome{
    color: #e0e0e0;
    font-weight: bold;
}

.block-text-nome-cargo .txt-cargo{
    color: #e0e0e0;
}
.row-linguagens img{
    width: 35px;
    height: 35px;
}

.footer-mobile{
    background-color: #292929;
    color: #e0e0e0;
}
.footer-txt{
    font-size: 0.8rem;
}
.h3-projetos{
    display: none;
}
.secao-desktop-paisagem {
    display: none;
}
.secao-desktop-medio{
    display: none;
}
.main-pc{
    display: none;
}
.main-mobile-segundo{
    display: block;
    color: #e0e0e0;
}
.main-mobile{
    display: block;
}
.block-text-pc {
    display: none; 
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 0;
    max-width: 50%;
}
.overflow{
    overflow: hidden;
}
  
/* Tablets em modo retrato (>= 576px) */
@media (min-width: 576px) {
    .menu-web {
        display: none; 
    }
    
    .block-text-nome-cargo .txt-nome{
        font-size: 100%;
        margin: 0;
        font-weight: bolder;
        letter-spacing: 4px;
        color: #e0e0e0;
    }

    .row-linguagens img{
        width: 45px;
        height: 45px;
    }
    .h3-projetos{
        display: block;
        color: #e0e0e0;
    }
    .h3-mobile{
        display: none;
    }
    
}


/* Tablets em modo paisagem ou pequenos desktops (>= 768px) */
@media (min-width: 768px) {
    .menu-web {
        display: block; 
        color: #e0e0e0;
    }
    .main-mobile-segundo{
        display: block;
    }
    .list-nav{
        padding: 15px;
    }
    .list-nav  li{
        padding: 10px;
    }
    .list-nav li a{
        color: #fff;
        text-decoration: none;
    }
    .menu-mobile{
        display: none;
    }
    .menu-mobile .menu-content {
        display: none;
    }
    .secao-mobile{
        display: flex;
    }
    header{
        background-image: url('../img/backgroundImage.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        min-height: 95vh;
    }
    h1{
        color: #A05E4F;
        font-size: 0.7rem;
        margin: 4%;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .block-text {
        display: block; 
        position: absolute;
        top: 20%;
        left: 10%;
        padding: 0;
        max-width: 55%;

    }
    #saudacoes{
        color: #A05E4F;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
    }
    #corpo-saudacoes{
        font-size: 0.9rem;
        font-weight: lighter;
        color: #e0e0e0;
    }
    #subtitulo{
        font-size: 1.2rem;
    }

    .secao-desktop-paisagem {
        display: none;
    }


}
.secao-desktop-medio{
    display: none;
}
.h3-projetos-desktop-medio{
    display: none;
}

/* Desktops médios (>= 992px) */
@media (min-width: 992px) {
    header{
        min-height: 80vh;
    }
    .secao-desktop-medio{
        display: flex;
    }
    .secao-mobile{
        display: none;
    }
    .secao-desktop-paisagem {
        display: none;
    }
    .h3-projetos-desktop-medio{
        display: block;
        color: #e0e0e0;
    }
    .h3-projetos{
        display: none;
    }
    .main-mobile{
        display: block;
    }
    .main-pc{
        display: block;
    }
    .corpo-projeto{
        color: #e0e0e0;
    }
    h1{
        color: #A05E4F;
        font-style: italic;
        font-size: 1.3rem;
        margin: 3%;

    }
    .menu-web ul li{
        display: flex;
        padding-left: 110px;
        color: #e0e0e0;
    }
    .menu-web ul li a:hover{
        color: #A05E4F;
        font-size: 0.8rem;
    }
    .block-text {
        display: block; 
        position: absolute;
        top: 20%;
        left: 10%;
        padding: 0;
        max-width: 55%;
    }
    .block-text-pc {
        display: none; 
        position: absolute;
        top: 90%;
        left: 10%;
        padding: 0;
        max-width: 50%;
    }
}

/* Desktops grandes (>= 1200px) */
@media (min-width: 1200px) {
   
}

/* Desktops extra grandes (>= 1400px) */
@media (min-width: 1400px) {
   
}
